################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimcorpApplication/bin/Debug/net8.0
/SimcorpApplication/obj
/SimcorpCore/bin/Debug/net8.0
/SimcorpCore/obj
/SimcorpInfrastructure/bin/Debug/net8.0
/SimcorpInfrastructure/obj
/SimcorpPresentation/bin/Debug/net8.0
/SimcorpPresentation/obj
/SimcorpShared/bin/Debug/net8.0
/SimcorpShared/obj
/SimcorpTestsEnd2End/bin/Debug/net8.0
/SimcorpTestsEnd2End/obj
/SimcorpTestsIntegration/bin/Debug/net8.0
/SimcorpTestsIntegration/obj
/SimcorpTestsUnit/bin/Debug/net8.0
/SimcorpTestsUnit/obj/Debug/net8.0
/SimcorpTestsUnit/obj
/WordsCounter/bin/Debug/net8.0
/WordsCounter/obj
/WordsCounterTests/bin/Debug/net8.0
/WordsCounterTests/obj
/WrodsCounterApp/obj
/WordsCounter/Properties/launchSettings.json
